<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
</head>
<body>

     <h2>Change Password</h2>

     <form  method="post" action="/api/v1/users/reset/<%= token %>">

        <input type="password" name="password" required placeholder="Password">
        <input type="password" name="comfirm" required placeholder="Comfirmpassword">
        <button type="submit">Chnage Password</button>

     </form>
    
</body>
</html>